@font-face {
  font-family: LP Allema;
  src: url(../fonts/LP Allema.ttf);
}
body {
	overflow-x: hidden;
    overflow-y: hidden;
    font-size: 62.5%;
    background: url(../img/countdown.jpg);
    background-size: cover;
    background-position: center center;
    color: lightsalmon;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body:before, body:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../img/countdown.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    z-index: -100;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}
body:after {
    background: rgba(0, 0, 0, 0.2);
    z-index: -90;
}
#center {
    height: 200px;
    text-align: center;
    margin: auto;
    padding: 24px 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
ul#countdown {
font-family: 'LP Allema';
margin: 0 auto;
position: absolute ;
padding: 10px;
left:25%;
top: 49%;
transform: translateY(-50%);
width: 50%;
color: lavender;
border: 1px solid lightsalmon;
border-width: 1px 0;
overflow: hidden;
font-weight: bold;
}
ul#countdown li {
    margin: 0 -3px 0 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    font-size: 6vw;
    text-align: center;
}
ul#countdown li .number {
    color: lightsalmon;
}

ul#countdown li .label {
    color: lightsalmon;
    font-size: 18px;
    font-size: 1.5vw;
}
